.__items {
    margin: 0 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50pt;

}

.__item {
    width: 800px;
    height: 450px;
    overflow: hidden;
    position: relative;
    display: flex;
    padding-top: 50pt;
    background-color: #082121;
    color: #f5f5f5;
    font-size: 15px;
    line-height: 12.5px;
    padding-left: 50pt;
}

.block2{
    padding-top: 60px;
    padding-left: 50px;
    text-align: center;
    align-content: center;
    background: #ff4645;
    height: 240px;
    width: 490px;
    position: absolute;
    left: 316px;
    top: 67px;
    color: black;
}


.__item::before {
    content: 'ВСЕ МЕНЮ';
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: black;
    font-size: 20px;
    display: block;
    position: absolute;
    left: 650px;
    top: 380px;
    width: 130px;
    height: 45px;
}

.__item::after {
    content: 'БУРГЕР - ITALIAN!  ';
    display: block;
    position: absolute;
    left: 60px;
    top: 180px;
    line-height: 35px;
    font-style: normal;
    font-size: 30pt;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 25px;
    width: 190px;
    height: 150px;
    background-color: #000000;
}

.line {
    position: relative;
    margin: 50px auto;
    width: 150px;
    height: 1px;
    background: #ccc;
}


.line2 {
    position: relative;
}


.line2:after {
    content: 'Лови момент!';
    position: absolute;
    left: 150px;
    top: -20px;
    color: #000000;
}

.line2:before {
    content: 'Усього 79 грн';
    position: absolute;
    left: -180px;
    top: 200px;
    color: #cb9b20;
}

.line:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 10px;
    height: 10px;
    background: #ccc;
}

.line:before {
    color: #ccc;
    content: 'Усього 79грн';
    position: absolute;
    top: -40px;
    left: 35px;
    width: 10px;
    height: 10px;
}


.table{
    padding-top: 60px;
    padding-left: 50px;
    text-align: center;
    align-content: center;
    background: white;
    height: 240px;
    width: 490px;
    position: absolute;
    left: 316px;
    top: 67px;
    color: black;
}

.block{
    background: center;
    height: 80px;
    width: 75px;
}

